@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);
body{
 background-color: #180148;
 padding: 50px 0;
 font-family: "Noto Sans", sans-serif;
 text-align: center;
}
.container{
 background-color: #222;
 margin: 0 auto;
 width: 100%;
 max-width: 420px;
 min-height: 500px;
 margin: 0 auto;
 border-radius: 8px;
 position: relative;
 overflow: hidden;
 -webkit-box-shadow: 0px 9px 13px 0px rgba(0, 0, 0, 0,3);
 -moz-box
}